*{
    box-sizing: border-box;
}
body{
    padding: 0; 
    margin: 0;
}
h4{
    font-size: 2rem;    
}
h3{
    font-size: 1.3rem;
    text-transform: uppercase;
}


.uppercase{
    text-transform: uppercase;
}

.backgroundColor{
    background-color: #11cac4 !important; 
}

.color{
    color: #11cac4 !important;
}

.marginTop{
    margin-top: 20px; 
}

.border{
    border-radius: 0px !important;
    
}


.nav li{
    float: left;
    margin-right: 20px;
}
.nav a{
    color: black;
    text-transform: uppercase;
}
.nav a:hover{
    color: #11cac4;
}
.headerBody{
    margin-top: 75px;
}
.headerBody h4{
    margin-bottom: 35px;
}
.headerBody p{
    line-height: 2em;
}
.about {
    margin-top: 50px;
    margin-bottom: 50px;
}


.about p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutMe{
    margin-top: 50px;
}

.input-field input:focus + label, .input-field .materialize-textarea:focus + label {
    color: #11cac4 !important;
}
.input-field input:focus, .input-field .materialize-textarea:focus {
    border-bottom: 1px solid  #11cac4!important;
    box-shadow: 0 1px 0 0 #11cac4 !important;
}

#map{
    padding-top: 50px;
    padding-bottom: 50px;
}

#containers{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2em;
}
.containerss, .contact{
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 2em;
}
#containers a{
    color: #bdbdbd !important;
}
#containers a:hover{
    color: #81d4fa !important;
}


.paddingB{
    padding-bottom: 20px;
}
.paddingT{
    padding-top: 20px;
}
.paddingLR{
    padding-top: 20px;
    padding-left: 30%;
}
.paddingTB{
    padding-bottom: 30px;
    padding-top: 30px;
}

.icon{
    font-size: 2.45em;
    padding-top: 35px;
    padding-bottom: 35px;
}



/*-------- picturs------ ?? */

.pic{
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}


#img1{background-image: url('../img/pic1.png');}
#img2{background-image: url('../img/pic3.png');}
#img3{background-image: url('../img/pic4.png');}
#img4{background-image: url('../img/pic7.png');}

#img5{background-image: url('../img/pic2.png');}
#img6{background-image: url('../img/pic10.png');}
#img7{background-image: url('../img/pic5.png');}
#img8{background-image: url('../img/pic6.png');}

#img9{background-image: url('../img/pic8.png');}
#img10{background-image: url('../img/pic9.png');}
#img11{background-image: url('../img/pic11.png');}
#img12{background-image: url('../img/pic12.png');}